<title>Bookmark Manager</title>

<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>


<body>

<nav id="navbar" > 
  <a class="home-button" href="/">Bookmark Manager</a>
	<% if current_user %>
  
	  <form id="sign-out" method="post" action="/sessions">
			<input type="hidden" name="_method" value="delete">
			<input id="sign-out-button" type="submit" value="Sign out">
		</form>
	<% else %>
      <ul id="sessions-list">
        <li><a id="sign-up-button-nav" href="/users/new">Sign Up</a></li>
        <li><a id="sign-up-button-nav" href="/users/sign_in">Sign In</a></li>
      </ul>
	<% end %>
</nav>
   




 	

<!-- 	<nav id="navbar">
  			<form id="sign-out" method="post" action="/sessions">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Sign out" class='button'>
				</form>
  		<%  %>	
				<a href="/users/new">Sign up</a>
				<a href="/users/sign_in">Sign in<a>
  	</nav> -->
<!-- 
	<% if flash[:notice] %>
	  <div id="notice"><%= flash[:notice] %></div>
	<% end %> -->

  <%= yield %>





</body>
