<h1 id="sign-up-title">Please sign up</h1>

<form id="sign-up-form" action="/users" method="post">
		<input id="link-input" name="email" type="text" value="<%= @user.email %>" placeholder="E-Mail">
		<br>
		<input id="link-input" name="password" type="password" placeholder="Password">  
		<br>
		<input id="link-input" name="password_confirmation" type="password" placeholder="Password Confirmation">  
		<br>
		<br>
  <input id="sign-up-button"  type="submit" value="Sign up">
</form>


	<% if flash[:notice] %>
	  <div id="notice"><%= flash[:notice] %></div>
	<% end %>