<h1 id="sign-in-title"> Please Sign in</h1>

<form id="sign-in-form" action="/user/sign_in" method="post">
		<input id="link-input" type="text" name="email" placeholder="E-mail"> 
		<br>
		<input id="link-input" type="password" name="password" placeholder="Password">
		<br>
		<br>
		<input id="sign-in-button" type="submit" name="sign_in" value="Sign In">
</form>